[submodule "editor"]
	path = editor
	url = git@github.com:wpumacay/tysocModelEditor.git
[submodule "glengine"]
	path = glengine
	url = git@github.com:wpumacay/cat1.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
