# file-exclusions
*.o
*.pyc
*.pyo
*.swp
*.swo
*.so
*.so*
*.a
*.ini
*.log

# folder-exclusions
build/
.vscode/
_legacy/
dist/
pytysoc.egg-info/
tysoc_mjc.egg-info/

# dependencies-exclusions
ext/tiny_math*
ext/tiny_renderer*
ext/imgui*
ext/spdlog*
ext/pybind11*
core*

# file-specific exclusions
simulation.xml