language: cpp
dist: xenial
sudo: required
matrix: 
  include:
    - os: linux
      env: PYTHON=3.6

before_install:
  - sudo apt-get install make cmake pkg-config
  - sudo apt-get install libassimp-dev libglfw3-dev libglew-dev
  - |
    mkdir -p ~/.mujoco && cd ~/.mujoco
    wget https://www.roboti.us/download/mujoco200_linux.zip
    unzip mujoco200_linux.zip && rm mujoco200_linux.zip
  - |
    if [ -n "$PYTHON" ]; then
      pip install --user --upgrade pip virtualenv
      virtualenv -p $(which python3) venv
      source venv/bin/activate
    fi
script:
  - |
    if [ -n "$PYTHON" ]; then
      pip install setuptools numpy
      python setup.py build
    fi